.pageAboutHeader {
  &__container {
    background-color: #333;
    color: white;
    margin: 70px 0 60px;
    padding: 75px 20px 0;
  }
  &__title {
    margin: 16px 0 47px;
  }
  &__breadcrumbs {
    background-color: #fff;
    width: 156px;
    color: #222;
    text-align: center;
    line-height: 50px;
    margin-left: auto;
    & a {
      font: $Archivo-700;
      font-size: 16px;
      line-height: 17.4px;
      letter-spacing: -0.48px;
    }
    & > .active {
      color: #bead8e;
    }
  }
}
